<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Ráðgjafinn</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            Ráðgjafinn aðstoðar þig við að finna þær tölvur sem henta þínum þörfum.  Vinsamlegast svaraðu eftirfarandi
            spurningum og ráðgjafinn færir þér í staðin tillögur að hentugum tölvum.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>1. Í hvernig notkun er tölvan helst hugsuð?</div>
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-default full-width">Skóla</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-default full-width">Vinnu</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-default full-width">Heimilis- og skrifstofu</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-default full-width">Drepa</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()">Loka</button>
</div>