<div class="container-fluid">
    <div class="row mainRow">
        <div class="col-md-4 darken mainColumns" style="margin-top:70px;">
            <div class="row">
                <div class="col-md-12">
                    <h4 ng-click="toggleCollapse('#byStore')" class="toCollapse">Verslun</h4>
                    <div id="byStore" class="row collapse in">
                        <div class="col-md-12">
                            <button class="btn btn-default" style="display: inline-block; width: 7em; margin: auto 0.4em 0.4em auto"
                                    ng-repeat="store in stores"
                                    ng-class="{'active toggled': store.toggled}"
                                    ng-click="toggle(store)">
                                {{store[0]}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 ng-click="toggleCollapse('#byVendor')" class="toCollapse">Framleiðandi<i class="fa fa-info-circle" ng-click="getInfo('vendor')"></i></h4>
                    <div id="byVendor" class="row collapse in">
                        <div class="col-md-12">
                            <button class="btn btn-default" style="display: inline-block; width: 7em; margin: auto 0.4em 0.4em auto"
                                    ng-repeat="brand in brands"
                                    ng-class="{'active toggled': brand.toggled}"
                                    ng-click="toggle(brand)">
                                {{brand[0]}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <h4 ng-click="toggleCollapse('#bySize')" class="toCollapse">Skjástærð<i class="fa fa-info-circle" ng-click="getInfo('size')"></i></h4>
            <div id="bySize" class="collapse in">
                <button ng-repeat="size in sizes" class="btn btn-default" style="display: inline-block; width: 5.65em; margin: auto 0.4em 0.4em auto"
                        ng-class="{'active toggled': size.toggled}"
                        ng-click="toggle(size)">
                    {{size[0]}}"
                </button>
            </div>
            <h4 ng-click="toggleCollapse('#byResolution')" class="toCollapse">Upplausn<i class="fa fa-info-circle" ng-click="getInfo('resolution')"></i></h4>
            <div id="byResolution" class="row collapse in">
                <div class="col-md-3 col-xs-3">
                    <span id="resolution-lower" class="pull-right"></span>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div id="resolutionSlider"></div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <span id="resolution-higher" class="pull-left"></span>
                </div>
            </div>
            <h4 ng-click="toggleCollapse('.byCPU')" class="toCollapse">Örgjörvi<i class="fa fa-info-circle" ng-click="getInfo('cpu')"></i></h4>
            <div class="collapse in byCPU">
                <button class="btn btn-default" style="display: inline-block; width: 100%; margin-bottom: 0.4em"
                        ng-class="{'active toggled': intel.toggled}"
                        ng-click="toggle('intel')">
                    Intel
                </button>
                <button ng-repeat="type in intelCpuTypes" class="btn btn-default" style="display: inline-block; width: 7em; margin: auto 0.4em 0.4em auto"
                        ng-class="{'active toggled': type.toggled}"
                        ng-click="toggle(type, 'intel')">
                    {{type[0]}}
                </button>
            </div>
            <div class="collapse in byCPU" style="margin-top:20px">
                <button class="btn btn-default" style="display: inline-block; width: 100%; margin-bottom: 0.4em"
                        ng-class="{'active toggled': amd.toggled}"
                        ng-click="toggle('amd')">
                    AMD
                </button>
                <button ng-repeat="type in amdCpuTypes" class="btn btn-default" style="display: inline-block; width: 7em; margin: auto 0.4em 0.4em auto"
                        ng-class="{'active toggled': type.toggled}"
                        ng-click="toggle(type, 'amd')">
                    {{type[0]}}
                </button>
            </div>
            <h4 ng-click="toggleCollapse('.byHDD')" class="toCollapse">Harður diskur<i class="fa fa-info-circle" ng-click="getInfo('disk')"></i></h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="collapse in byHDD">
                        <button ng-repeat="type in hdd_types" class="btn btn-default" style="display: inline-block; width: 30%; margin-right: 0.3em"
                                ng-class="{'active toggled': type.toggled}"
                                ng-click="toggle(type)">
                            {{type[0]}}
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row collapse in byHDD" style="margin-top:0.4em">
                        <div class="col-md-3 col-xs-3">
                            <span id="hdd-lower" class="pull-right"></span>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div id="hddSlider"></div>
                        </div>
                        <div class="col-md-3 cols-xs-3">
                            <span id="hdd-higher" class="pull-left"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4 ng-click="toggleCollapse('#byGpu')" class="toCollapse">Skjákort<i class="fa fa-info-circle" ng-click="getInfo('gpu')"></i></h4>
                    <button ng-repeat="vendor in gpu_vendors" class="btn btn-default" style="display: inline-block; width: 30%; margin-right: 0.3em"
                            ng-class="{'active toggled': vendor.toggled}"
                            ng-click="toggle(vendor)">
                        {{vendor[0]}}
                    </button>
                </div>
                <div class="col-md-6">
                    <h4 ng-click="toggleCollapse('#byRam')" class="toCollapse">Vinnsluminni<i class="fa fa-info-circle" ng-click="getInfo('ram')"></i></h4>
                    <div id="byRam" class="row collapse in" style="padding-top: 0.4em">
                        <div class="col-md-3 col-xs-3">
                            <span id="ram-lower" class="pull-right"></span>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div id="ramSlider"></div>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <span id="ram-higher" class="pull-left"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:15px; padding-bottom: 15px">
                <div class="col-md-12">
                    <h4 ng-click="toggleCollapse('#byPrice')" class="toCollapse">Sía eftir verði</h4></a>
                    <div id="byPrice" class="row collapse in">
                        <div class="col-md-3 col-xs-3">
                            <input class="form-control" type="text" id="price-lower">
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div id="priceSlider" style="margin-top:7px"></div>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <input class="form-control" type="text" id="price-higher">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 mainColumns" style="margin-top:80px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <button class="btn btn-primary" ng-click="clearFilter()">Hreinsa síu</button>
                        <button ng-show="filterLink.length == 0" class="btn btn-primary" ng-click="createLink()">Deila niðurstöðum</button>

                        <span ng-show="filterLink.length > 0" style="display: inline-block">
                            <span style="display: inline-block">
                                <input class='form-control' id='filterLink' type='text' ng-value="filterLink" readonly style='border-top-right-radius: 0;border-bottom-right-radius:0;'>
                            </span>
                            <button class="btn btn-default" id="clipboardButton" data-clipboard-target="#filterLink" title="Afrita link" style="margin: -3px 0 0 -4px; border-top-left-radius: 0;border-bottom-left-radius: 0;"><i class="fa fa-clipboard"></i></button>
                            <span style="display: inline-block; cursor: pointer" ng-click="shareOnFacebook()">
                                <img src="images/fbshare.png">
                            </span>
                        </span>
                    </div>
                    <div class="pull-right">
                        <button ng-show="numberToCompare>0" class="btn btn-success" ng-click="getComparison()">Bera saman ({{numberToCompare}})</button>
                        Sýni <input ng-model="resultLimit" type="number" class="form-control" style="width: 5em; display: inline-block;" min="1" step="25"> af {{filteredLaptops.length}} niðurstöðu<span ng-if="filteredLaptops.length%100==11||filteredLaptops.length%10!=1">m</span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px; min-height: 200px">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="cursor:initial" title="Samanburður">
                                <!--<i class="fa fa-tasks"></i>-->
                                <input ng-disabled="numberToCompare<1" type="checkbox" ng-model="unchecker" class="bigCheckbox" ng-change="uncheckAll()">
                            </th>
                            <th></th>
                            <th ng-class="{underline: checkSort('description')}"><span ng-click="changeSort('description')">Lýsing</span><span style="display:inline-block;margin-left:10px"><input id="textFilter" class='form-control' style="height:1.7em" type="text" ng-change="filterLink = ''" ng-model="textFilter.description" placeholder="Leit eftir lýsingu"></span></th>
                            <th ng-click="changeSort('display_size')" ng-class="{underline: checkSort('display_size')}">Skjástærð</th>
                            <th ng-click="changeSort('display_resolution')" ng-class="{underline: checkSort('display_resolution')}">Upplausn</th>
                            <th ng-click="changeSort('cpu_vendor')" ng-class="{underline: checkSort('cpu_vendor')}">Örgjörvi</th>
                            <th ng-click="changeSort('ram')" ng-class="{underline: checkSort('ram')}">Minni</th>
                            <th ng-click="changeSort('hdd_capacity')" ng-class="{underline: checkSort('hdd_capacity')}">Diskur</th>
                            <th ng-click="changeSort('gpu')" ng-class="{underline: checkSort('gpu_vendor')}">Skjákort</th>
                            <th ng-click="changeSort('store')" ng-class="{underline: checkSort('store')}">Verslun</th>
                            <th ng-click="changeSort('price')" ng-class="{underline: checkSort('price')}">Verð</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="laptop in filteredLaptops = (laptops | searchFilter | filter:textFilter) | orderBy:searchSort | limitTo:resultLimit">
                            <td><input ng-disabled="numberToCompare>=5 && !laptop.compare" type="checkbox" ng-model="laptop.compare" ng-change="countComparison(laptop.compare)" class="bigCheckbox"/></td>
                            <td ng-click="showLaptop(laptop)" style="cursor:pointer"><div style="background-color: white"><center><img ng-if="$index < resultLimit" height="30px" ng-src="{{getImageLink(laptop,'small')}}"></center></div></td>
                            <td><a href="{{laptop.url}}" ng-click="sendAnalyticsEvent('outbound','click',laptop.url)" target="_blank" title="{{laptop.description}}">{{laptop.description | limitText:35}}</a></td>
                            <td>{{laptop.display_size}}"</td>
                            <td>{{laptop.display_resolution}}</td>
                            <td>{{laptop.cpu_vendor}} {{laptop.cpu_model}}</td>
                            <td>{{laptop.ram}}GB</td>
                            <td>{{getDiskText(laptop.hdd_capacity, laptop.hdd_type)}}</td>
                            <td>{{laptop.gpu_vendor}} {{laptop.gpu_model}}</td>
                            <td>{{laptop.store}}</td>
                            <td>{{laptop.price | thousandSeparator}}kr.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>